adagio==0.2.6
aiofiles==23.2.1
aiosignal==1.3.1
alembic==1.14.0
altair==5.4.1
annotated-types==0.7.0
ansi2html==1.9.2
antlr4-python3-runtime==4.11.1
anyio==4.5.2
aplr==10.8.0
appdirs==1.4.4
asn1crypto==1.5.1
asttokens==3.0.0
attrs==24.3.0
backcall==0.2.0
beautifulsoup4==4.12.3
blinker==1.8.2
boto3==1.35.86
botocore==1.35.86
Brotli==1.1.0
catboost==1.2.7
category-encoders==2.6.4
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.8
cloudpickle==2.2.1
colorama==0.4.6
colorlog==6.9.0
colour==0.1.5
comm==0.2.2
contourpy==1.1.1
cryptography==44.0.0
cssselect2==0.7.0
cycler==0.12.1
Cython==3.0.11
daal==2024.5.0
daal4py==2024.5.0
dacite==1.8.1
dash==2.18.2
dash-bootstrap-components==1.6.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dash-testing-stub==0.0.2
dash_auth==2.3.0
dash_cytoscape==1.0.2
dask==2023.5.0
databricks-cli==0.18.0
debugpy==1.8.9
decorator==5.1.1
Deprecated==1.2.15
deprecation==2.1.0
dill==0.3.9
distributed==2023.5.0
docker==6.1.3
dtreeviz==2.2.2
entrypoints==0.4
et_xmlfile==2.0.0
evidently==0.2.8
exceptiongroup==1.2.2
executing==2.1.0
explainerdashboard==0.4.7
fairlearn==0.7.0
fastapi==0.115.6
fastjsonschema==2.21.1
ffmpy==0.5.0
filelock==3.16.1
Flask==2.2.3
Flask-WTF==1.2.1
flask_simplelogin==0.2.0
fonttools==4.55.3
frozenlist==1.5.0
fs==2.4.16
fsspec==2024.12.0
fugue==0.8.6
fugue-sql-antlr==0.2.2
future==1.0.0
gevent==24.2.1
gitdb==4.0.11
GitPython==3.1.43
gradio==3.50.2
gradio_client==0.6.1
graphviz==0.20.3
greenlet==3.1.1
h11==0.14.0
html5lib==1.1
htmlmin==0.1.12
httpcore==1.0.7
httpx==0.28.1
huggingface-hub==0.27.0
hyperopt==0.2.7
idna==3.10
ImageHash==4.3.1
imbalanced-learn==0.12.4
importlib-metadata==5.2.0
importlib_resources==6.4.5
iniconfig==2.0.0
interpret==0.6.6
interpret-core==0.6.6
ipykernel==6.29.5
ipython==8.12.3
ipywidgets==8.1.5
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter-dash==0.4.2
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_widgets==3.0.13
kaleido==0.2.1
kiwisolver==1.4.7
kmodes==0.12.2
lightgbm==4.5.0
llvmlite==0.41.1
locket==1.0.0
lxml==5.3.0
m2cgen==0.10.0
Mako==1.3.8
MarkupSafe==2.1.5
matplotlib==3.6.0
matplotlib-inline==0.1.7
mlflow==1.30.1
mlxtend==0.23.1
moto==5.0.24
msgpack==1.1.0
multimethod==1.10
multiprocess==0.70.17
narwhals==1.19.0
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.1
nltk==3.9.1
numba==0.58.1
numpy==1.24.4
oauthlib==3.2.2
openpyxl==3.1.5
optuna==4.1.0
orjson==3.10.12
outcome==1.3.0.post0
oyaml==1.0
packaging==21.3
pandas==1.5.3
parso==0.8.4
partd==1.4.1
patsy==1.0.1
percy==2.0.2
phik==0.12.4
pickleshare==0.7.5
pillow==10.4.0
pkgutil_resolve_name==1.3.10
platformdirs==4.3.6
plotly==5.24.1
plotly-resampler==0.10.0
pluggy==1.5.0
pmdarima==2.0.4
prometheus_client==0.21.1
prometheus_flask_exporter==0.23.1
prompt_toolkit==3.0.48
protobuf==4.25.5
psutil==6.1.0
pure_eval==0.2.3
py4j==0.10.9.8
pyaml==24.12.1
pyarrow==17.0.0
pycaret==3.2.0
pycparser==2.22
pydantic==1.10.19
pydantic_core==2.27.1
pydub==0.25.1
pydyf==0.11.0
Pygments==2.18.0
PyJWT==2.9.0
pynndescent==0.5.13
pyod==2.0.3
pyOpenSSL==24.3.0
pyparsing==3.1.4
pyphen==0.16.0
PySocks==1.7.1
pytest==8.3.4
python-dateutil==2.9.0.post0
python-multipart==0.0.20
pytz==2022.7.1
PyWavelets==1.4.1
pywin32==308
PyYAML==6.0.2
pyzmq==26.2.0
qpd==0.4.4
querystring-parser==1.2.4
ray==2.10.0
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
responses==0.25.3
retrying==1.3.4
rpds-py==0.20.1
s3transfer==0.10.4
SALib==1.4.8
schemdraw==0.15
scikit-base==0.5.2
scikit-learn==1.2.2
scikit-learn-intelex==2024.5.0
scikit-optimize==0.10.2
scikit-plot==0.3.7
scipy==1.10.1
seaborn==0.12.2
selenium==4.2.0
semantic-version==2.10.0
shap==0.44.1
six==1.17.0
sktime==0.21.1
slicer==0.0.7
smmap==5.0.1
sniffio==1.3.1
snowflake-connector-python==3.12.4
snowflake-sqlalchemy==1.7.1
SOR==0.0.0
sortedcontainers==2.4.0
soupsieve==2.6
SQLAlchemy==1.4.54
sqlglot==26.0.1
sqlparse==0.5.3
stack-data==0.6.3
starlette==0.41.3
statsforecast==1.5.0
statsmodels==0.14.1
tabulate==0.9.0
tangled-up-in-unicode==0.2.0
tbats==1.1.3
tbb==2021.13.1
tblib==3.0.0
tenacity==9.0.0
tensorboardX==2.6.2.2
threadpoolctl==3.5.0
tinycss2==1.4.0
tomli==2.2.1
tomlkit==0.13.2
toolz==1.0.0
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
triad==0.9.1
trio==0.27.0
trio-websocket==0.11.1
tsdownsample==0.1.3
tune-sklearn==0.5.0
typeguard==4.4.0
typing_extensions==4.12.2
tzdata==2024.2
umap-learn==0.5.7
urllib3==1.26.20
urllib3-secure-extra==0.1.0
uvicorn==0.33.0
visions==0.7.5
waitress==2.1.2
wcwidth==0.2.13
weasyprint==61.2
webencodings==0.5.1
websocket-client==1.8.0
websockets==11.0.3
Werkzeug==2.3.8
widgetsnbextension==4.0.13
wordcloud==1.9.4
wrapt==1.17.0
wsproto==1.2.0
WTForms==3.1.2
xgboost==2.1.3
xlrd==2.0.1
xmltodict==0.14.2
xxhash==3.5.0
ydata-profiling==4.6.0
yellowbrick==1.5
zict==3.0.0
zipp==3.20.2
zope.event==5.0
zope.interface==7.2
zopfli==0.2.3.post1
